{% load static %}

<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Book search engine</title>
</head>
<body>

<div class="container">
    {% verbatim  %}
    <div id="app">
        <h1>Book search engine</h1>
        <form v-on:submit="submit">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by title" v-model="searchField">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" v-on:click="search">Go</button>
                </div>
            </div>
        </form>

        <div class="text-center">
        <div v-if="loading" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        </div>

        <em v-if="noResults">No results</em>
        <div v-else v-for="itemGroup in items">
            <h5 v-if="itemGroup.isbn">ISBN: {{ itemGroup.isbn }}</h5>
            <h5 v-else>Other</h5>
            <p class="ml-4" v-for="item in itemGroup.items">
                <span>[{{ item.source }}] </span><a v-bind:href="item.link">{{ item.name }}</a>
                <span v-if="item.price">
                    <br><strong>{{ item.price }} {{ item.currency }}</strong>
                </span>
            </p>
        </div>
    </div>
    {% endverbatim %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<script src="{% static 'app/js/app.js' %}"></script>

</body>
</html>
